BasedOnStyle: Microsoft
Standard: c++17
ColumnLimit: 100
IndentWidth: 4
UseTab: Never
SortIncludes: false
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: AlwaysBreak
AccessModifierOffset: -4
NamespaceIndentation: All
FixNamespaceComments: false
PointerAlignment: Left
DerivePointerAlignment: false
BraceWrapping:
  BeforeLambdaBody: true
